* {
    box-sizing: border-box;
}

html {
  background-color: rgba(34, 32, 32, 0.953);
}

.grid {
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
  width: 602px;
  height: 600px;

}

.cell {
  color: white;
  border: 1px solid white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;

}

.snake {
  background-color: blue;
}

.food {
  background-color: aqua;
}
