/* ----------- PAGE STYLE ----------- */

* {
  box-sizing: border-box;
  color: white;
}

html {
  background-color: rgba(0, 0, 0, 0.953);
}

body {
  margin-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 17px;
  gap: 1.6em;
}

#footer-snake {
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
  color: rgba(78, 227, 18, 0.953);
  padding-top: 0.8rem;
}

#footer-author {
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#sound-btn {
  position: fixed;
  top: 15px;
  right: 0;
  margin-right: 40px;
  margin-top: 10px;
  display: inline-block;
  padding: 6px 9px;
  border-radius: 4px;
  color: #adecbc;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 1px solid rgba(255, 255, 255, 0.953);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.953);
  transition: all 0.1s linear;
  background: none;
  cursor: pointer;
}

/* ----------- WELCOME PAGE ----------- */

.start-screen {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 5px;
  /* padding: 20px 200px; */
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.953);
}

.start-screen h2 {
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.4em;
  letter-spacing: 5px;
  line-height: 1.4em;
  padding: 20px 120px 0px;
}

#start-btn,
#restart-btn {
  position: relative;
  padding: 18px 40px;
  border-radius: 4px;
  color: #bde3c6;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  margin: 0px auto 40px;
  border: 2px solid rgba(78, 227, 18, 0.953);
  background: none;
  cursor: pointer;
  transition-duration: 400ms;
}

#start-btn:hover,
#restart-btn:hover {
  color: rgba(78, 227, 18, 0.953);
  box-shadow: 0px 0px 2px 1px rgba(0, 255, 4, 0.953);
}

/* ----------- GAME PAGE  ----------- */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-left: auto;
  margin-right: auto;
}

.left-column-gameBoard {
  flex-basis: 25%;
}

.your-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-basis: 25%;
}

#your-score-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.4em;
  letter-spacing: 3px;
  line-height: 1.4em;
}

#your-score-number {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.4em;
  letter-spacing: 3px;
  line-height: 1.4em;
}

.grid {
  border: 1px solid rgba(78, 227, 18, 0.953);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 512px;
  height: 510px;
  flex-basis: auto;
  margin-top: 30px;
  margin-bottom: 70px;
}

.cell {
  color: white;
  opacity: 0.2;
  border: 0.1px solid white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
}

.snake {
  background-color: rgba(37, 95, 30, 0.953);
  opacity: 1;
  border: none;
}

.snake-head {
  background-color: rgba(17, 223, 20, 0.953);
  opacity: 1;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 255, 4, 0.953);
  border-radius: 2px;
}

.food {
  background-color: rgba(72, 255, 0, 0.953);
  opacity: 1;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 255, 4, 0.953);
  animation: shadow-box 300ms ease-in infinite alternate;
}

@keyframes shadow-box {
  0% {
    box-shadow: 0px 0px 10px 2px rgba(0, 255, 4, 0.953);
  }
  100% {
    box-shadow: 0px 0px 8px 5px rgba(0, 255, 4, 0.953);
  }
}

/* ----------- GAME OVER SCREEN ----------- */

.game-over-screen {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 120px 0px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 1.2rem;
  letter-spacing: 3px;
  line-height: 2.4rem;
  word-spacing: 0.2rem;
}

.hidden {
  display: none;
}
