/* ----------- PAGE STYLE ----------- */

* {
  box-sizing: border-box;
  color: white;
}

html {
  background-color: rgba(34, 32, 32, 0.953);
}

body {
  margin-top: 50px;
}

.start-screen {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 5px;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  visibility: visible;
}

.game-over-screen {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 5px;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    visibility: hidden;
  }

.start-screen h2 {
    text-align: center;
}

button {
    background: none;
    padding: 14px
}

/*.snake-img {
     height: 300px;
     width: auto;
     margin-right: 50px;
 }*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 1.6em;
}

#footer-snake {
  font-size: 3em;
}

#footer-author {
  font-size: 1.3em;
}

/* ----------- GAME STYLE ----------- */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  visibility: hidden;
}

.your-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.grid {
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 602px;
  height: 600px;
}

.cell {
  color: white;
  border: 0.1px solid white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.snake {
  background-color: blue;
}

.snake-head {
  background-color: blue;
}

.food {
  background-color: aqua;
}
